   <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">My Blog </h1>
        <p class="lead blog-description"> Technology, Family, and (Anything Else I Find Fun to Share)</p>
        
       <span>
         <%= link_to ' Compose a New Blog', new_blog_path if logged_in?(:site_admin) %>

       </span> 
       <span>
         <%= link_to 'Topic', topics_path %>
       </span>
      </div>
    </div>