

 <section class="jumbotron text-center">
      <div class="container">

        <h1 class="jumbotron-heading">My Portfolio</h1>
        <p class="lead text-muted"> Here you can find (almost) anything I have created using my technology skills. Some of these may be film projects, school projects or programming side-jobs. Hope you enjoy.</p>
        <p>
         <%= link_to "About Me",  about_path, class: "btn btn-primary"%>
          <%= link_to "Blogs",  blogs_path, class: "btn btn-secondary"%>
        </p>
      </div>
    </section>