
<div class="app-card-container about-me">
  <div class="color">
  <div class="card">
    
  <h1 class="text">About Me</h1>

<hr>


<div class="row">
  <div class="col-md-4">
    <%= image_tag "jackavatar.jpg",
    width: 300, alt: "profile image"   %>
    
  </div>


 <div class="col-md-8">
    <p>
  
  
Hi. I'm Jack Leonard, a 15 year old who is extremley intereted in technology. When I was little, I used to read instruction manuals for fun to learn about how things work. I fixed a DVD player when I was 3 - when my father couldn't. 
I  still love reading and learning to this day. Some of the things I love to do include: programming, video editng, animation and design.
</p>


<div class="container text ">
   <button class="btn btn-primary" data-toggle="collapse" data-target ="#demo">Read More </button>
  
  <div id="demo" class="collapse">
     
<p>
I use my technology skills in a number of different creative ways. The first technology  of which I learned is kind of unnatrual for how young I was.  When I was 8, I would wish for programming books to read. Later, I learned of the free nature of the internet and immersed my self in youtube tutorials.
While I never published anything, I did get a grasp of basic computer science, HTML, CSS, C, Objective-C, and Java. These skills have still stuck to me to this day, (except Objective-C. That was sad to see it leave....)
</p>
<p>
I've always been an Apple fan and loved catching up on technology news and watching Apple Events. WWDC influenced my decision to learn Swift and Objective-C, as well as learn something entirely different: Video editing.
One of my hobbys is video production. I first used imovie for a long standing elementary school news show, and I loved producing videos ever since. I started using Imovie, but then went on to editing in premiere pro and animating in After Effects. I have lots of friends who are into cinemetography, so it makes producing high-quality videos a breeze.
I'm especially proud of Mauvais Presage, a film I wrote and produced with a friend, entirley in French, for a school foreign film festival, and for our own merit.
</p>

<p>
  I'm not antisocial, though. I love talking to people and hearing their ideas. Thats why I got a oustanding delegation from BYU Model United Nations and Utah Model United Nations. I also was the captain of my local
  Mock Trial team. I created a app called Doughnut Danger, a game for a app competition sponsored by INFOTRAX at my school. I made sure the game not only played well, but looked well and felt professional. I ended up placing 3rd in the competition.
  </p>

<p>
  
Fast forward to today. What am I working on now? Today I run Avatar By Jack, a small buisness founded on my newfound love of animation and minimal design. I express my self in the minimal style, by creating simplistic avatars for people to use on social media. I use adobe illustrator to create them, and I advertise my self using animations created in After effects.
Hopefully I'll find a way to combine some of these skills together into a profession. I'm already learning Ruby through a bootcamp near my home. Using the skills I learn from creating this portfolio, I will be able to take Avatar By Jack out of the WISYWIG and into the real world. I'm a strong beliver in appliyng what you learn to everything that you do, and that's what I'm doing with Avatar by Jack
</p>

<p>

Thanks for coming to my little website! Please visit avatarbyjack.weebly.com and share this with a friend!  
  
</p>


</div>

</div>

    
  </div>



<div>


  </div>
  </div>
</div>

